<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799204215998-mqfoq78qou3k6085d4eicfot9tna6260.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799204215998-mqfoq78qou3k6085d4eicfot9tna6260</string>
	<key>API_KEY</key>
	<string>AIzaSyDUnMKkHuCFTn4k6wem9PY2PRC42wNODWE</string>
	<key>GCM_SENDER_ID</key>
	<string>799204215998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kokikudo.first.app.Iruka</string>
	<key>PROJECT_ID</key>
	<string>iruka-bfb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>iruka-bfb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799204215998:ios:23e77d6781328d626222ef</string>
</dict>
</plist>